fastapi==0.115.12
psycopg2==2.9.10
psycopg2-binary==2.9.10
pydantic==2.11.1
sqlmodel==0.0.24
uvicorn==0.34.0
pydantic-settings==2.0.0
python-multipart
openai
llama-index
pydantic
python-dotenv
aiofiles
speechrecognition
git+https://github.com/openai/whisper.git